* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #ef5350;
    color: white;
    text-align: center;
    padding: 20px;
}

.busca {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.busca input {
    width: 300px;
    padding: 10px;
}

.busca button {
    padding: 10px 20px;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

#pokemonCard,
#favoritos {
    background: white;
    padding: 20px;
    border-radius: 10px;
}